/*geral*/



body{
    font-family:cursive;
}

.roxo{
    color:#955AF5 !important;
}

.bg-roxo{
    background-color:#955AF5 !important; ;
}

.amarelo{
    color:rgb(255, 198, 42);
}

.bg-amarelo{
    background-color:rgb(255, 198, 42) ;
}
.centro{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.margem-top{
    margin-top:30px;
}
.margem-bottom{
    margin-bottom:30px;
}

.margem-bottom-10px{
    margin-bottom: 10px;
}

.margem-left{
    margin-left:30px;
}

.just{
    text-align: justify;
}

.icone{
    font-size: 50px;;
}

.icone-peq{
    font-size:10px;
}


/*navbar*/

.navbar{
    margin-bottom:10px;
}
.navbar-brand{
    color:black !important;
}

.fa-moon, .fa-bell, .fa-cog, .white{
    color:white;
}

.gray-borda{
    color:rgb(92, 92, 92);
    -webkit-text-stroke: 1px white;
}

.borda-texto{
    -webkit-text-stroke: 1px white;
}

.navbar-brand{
    font-size:30px;
}

#horizontal, ul li{
    list-style: none !important;
    display:inline !important;
}

@media screen and (max-width:991px){
    #nomobile{
        display:none !important;
    }
}

@media screen and (min-width:991px){
    #yesmobile{
        display:none !important;
    }
}

/*Sobre*/
.img_dog{
    width: 100%;
    height: 550px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}

@media screen and (max-width:1000px) {
    .img_dog{
        display:none;
    }
    
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .img_dog{
        margin-top:30px;
    }
}


.img_patinhas{
    width:80%;
    height:auto;
}

.titulo_sobrenos{
    font-size:50px;
}

@media screen and (min-width:990px) and (max-width:1200px) {
    .titulo_sobrenos{
        font-size: 35px;
    }
    
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .titulo_sobrenos{
        font-size: 40px;
    }
    
}