@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*geral*/
body{
    font-family: Poppins, sans-serif;
}



.amarelo{
    color:rgb(221, 162, 0);
}
.centro{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.margem-top{
    margin-top:30px;
}
.margem-bottom{
    margin-bottom:30px;
}

.just{
    text-align: justify;
}

.icone{
    font-size: 50px;;
}


/*navbar*/
.navbar-brand{
    color:black !important;
}

.fa-moon, .fa-bell, .fa-cog, .white{
    color:white;
}

.gray-borda{
    color:rgb(92, 92, 92);
    -webkit-text-stroke: 1px white;
}

.navbar-brand{
    font-size:30px;
}

#horizontal, ul li{
    list-style: none !important;
    display:inline !important;
}

@media screen and (max-width:991px){
    #nomobile{
        display:none !important;
    }
}

@media screen and (min-width:992px){
    #yesmobile{
        display:none !important;
    }
}



/*carousel*/
.titulo1{
    font-size: 60px;
}




#texto-carousel{
    margin-left:100px;
    margin-top:50px;
}

@media screen and (max-width:499px){
    .titulo1{
        font-size:25px;
    }
    #texto-carousel{
        margin-left:20px;
        margin-top:50px;
    }

    .carousel-p{
        font-size:13px;
    }

    .img-carousel{
        min-height:300px;
    }

}

@media screen and (min-width:500px) and (max-width:1000px){
    .titulo1{
        font-size:35px;
    }
    #texto-carousel{
        margin-left:20px;
        margin-top:50px;
    }

    .carousel-p{
        font-size:20px;
    }

    
}

.carousel-p{
    font-size:20px;
}

.main-text {
    position: absolute;
    top: 0px;  
    width:100%;
    height:100%;
    background: -webkit-linear-gradient(rgba(255, 153, 0, 0.3), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(rgba(255, 153, 0, 0.3), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(255, 153, 0, 0.3), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255, 153, 0, 0.3), rgba(255, 255, 255, 0));   
}

#carouselExampleCaptions{
    margin-top:30px;
}

.carousel-item{
    max-height:500px;
}

.vermais{
    font-size:large;
}

@media screen and (max-width:700px){
    .carousel-item{
        max-height:268px;
    }
    .vermais{
        font-size:small;
    }
}

@media screen and (max-width:1000px) and (min-width:701px){
    .carousel-item{
        max-height:390px;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }



/*cards*/
 .card{
     height:450px;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 15px; 
        min-width:100%;
 }

 .card-img-top{
     min-height:250px;
     width: 100%
 }

 .coracao{
     font-size: xx-large;
     text-align: right;
     color:red;
 }
 .coracaonull{
    font-size: xx-large;
    text-align: right;
 }

 .card-link{
     
     font-size: xx-large;
 }

.borda{
    height:200px;
    width:200px;
    border-radius:100px;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
}


/*Fique ligado*/
@media screen and (max-width:991px){
    .fiqueligado{
        text-align: center;
    }
}

/*Footer*/
.footer{
    background-color: rgb(221, 162, 0);
    padding:5px;
    margin-top:10px;
}

/*backgrounds*/
.bg1{
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0),rgba(102, 102, 102, 0.1));
    background: -o-linear-gradient(rgba(255, 255, 255, 0),rgba(102, 102, 102, 0.1));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0),rgba(102, 102, 102, 0.1));
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(102, 102, 102, 0.1));  
    
}
.bg2{
    background: -webkit-linear-gradient(rgba(102, 102, 102, 0.1), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(rgba(102, 102, 102, 0.1), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(102, 102, 102, 0.1), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(102, 102, 102, 0.1), rgba(255, 255, 255, 0));  
    
    padding-top:10px;
}



